<% include layout/header %>

<div class="container article">
  <h1>Guide</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta excepturi cupiditate accusantium tempora sed, nemo maxime itaque odio, aliquid mollitia blanditiis, id maiores laudantium, est libero velit debitis voluptate totam!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus beatae sequi perspiciatis est repellat molestiae nulla rerum voluptate nobis provident, eum veniam ipsa alias doloremque blanditiis. Eveniet id quas numquam?</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quis sint, facere animi, quam cum aut pariatur, soluta eligendi tempore maxime magnam quos minima quaerat laudantium nulla blanditiis nihil. Quisquam?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit culpa aperiam quas obcaecati perspiciatis amet laudantium, debitis numquam eius sed est pariatur ea vel aspernatur ex, molestias velit minima error.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quo quaerat ipsam reiciendis labore sequi quisquam ad, delectus ex placeat, deleniti minus, inventore eaque pariatur recusandae assumenda culpa, nam voluptates!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ex harum est facilis, quos, nisi quasi molestiae eum a atque exercitationem iusto? Natus architecto, amet, sapiente tenetur quia repudiandae inventore!</p>
</div>

<% include layout/footer %>