<% include layout/header %>
    <% if (Object.keys(message).length > 0) { %>
      <div class="alert-wrapper">
        <p class="alert-message"><%= message %></p>  
      </div>
    <% } %>
    <div class="jumbotron">
        <img src="images/iblis.png" class="cover-img iblis">
        <img src="images/support.png" class="cover-img support">
        <img src="images/petarung.png" class="cover-img petarung">

        <div class="quote">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, similique recusandae, ipsum placeat voluptas!</p>  
        </div>

        <!-- <p><a class="btn btn-primary btn-lg btn-sign-up sign-in" href="" data-toggle="modal" data-target="#loginModal" role="button">READY!</a></p> -->
    </div>
<% include layout/footer %>
