<% include layout/header %>

<div class="jumbotron">
  <div class="container">
    <h1>SPARTA HMIF 2014</h1>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">READY!</a></p>
  </div>
</div>

<section class="story-line">
  <div class="container">
    <div class="page-header">
      <h1>STORY LINE</h1>
    </div>

    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, libero sit amet rutrum lobortis, ante lectus gravida arcu, a porttitor felis eros vitae neque. Nunc pharetra at ante eget consectetur. Vestibulum porttitor tortor sit amet lectus porta, vel mattis urna bibendum. Donec at odio ipsum. Aliquam in finibus augue, a lobortis mi. Suspendisse gravida risus non mauris sollicitudin, quis cursus dui sodales. Vivamus ultrices viverra nibh non imperdiet. Cras varius, lorem id vehicula aliquam, mi turpis pulvinar libero, eu congue nibh purus vel ipsum.</p>

    <p>Nam mollis laoreet tortor. Vivamus sit amet enim dapibus, congue magna nec, sagittis felis. Vivamus blandit massa turpis, in viverra dui imperdiet quis. Fusce aliquam libero vitae interdum aliquam. Suspendisse enim enim, ullamcorper id sagittis sit amet, eleifend et orci. Proin maximus ac eros a dapibus. Sed ipsum orci, facilisis et orci sit amet, rhoncus pulvinar purus. Curabitur feugiat dictum pellentesque. Nullam faucibus porttitor ultrices.</p>

    <p>Duis euismod sapien et quam blandit blandit. Pellentesque vitae tincidunt odio. Praesent eu sollicitudin ipsum. Donec posuere id felis nec pulvinar. Sed efficitur tincidunt odio non hendrerit. Proin et ipsum ante. Nunc ornare nibh at ex convallis, in auctor augue eleifend. Donec ornare elit velit, sit amet finibus nibh fringilla vitae. Nulla facilisi. Duis tempor nulla ligula, nec eleifend ex iaculis sodales. Aenean eget placerat urna.</p>

    <p>Proin urna nulla, commodo et ornare quis, pharetra et lectus. Integer consequat nec eros rhoncus aliquam. Aliquam cursus tincidunt eros sed elementum. Curabitur hendrerit tristique turpis sit amet scelerisque. Sed ornare vitae mi non volutpat. Duis et eros ultricies, vulputate elit sed, molestie mauris. Vivamus imperdiet nisi quis gravida faucibus. Aliquam vel tortor eleifend, mollis libero a, laoreet orci. Suspendisse at magna sed elit dapibus porta at vitae dui. Mauris cursus nisi non dui mollis, id accumsan tortor pellentesque. Duis quis malesuada justo. Vestibulum mattis porttitor mollis. Nullam quis enim quam.</p>

    <p>Suspendisse placerat enim ipsum, eu venenatis felis faucibus at. Donec porttitor ultrices turpis, ac mattis tellus ornare ac. Donec accumsan metus at condimentum rhoncus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum auctor felis felis, a hendrerit ex luctus sit amet. Quisque volutpat lacus et lorem gravida vulputate. Suspendisse blandit blandit elit eu dictum. Etiam mattis gravida eros ut venenatis. Etiam ut dignissim ligula. Nulla dolor ex, sodales ac hendrerit tincidunt, pretium sed diam. Quisque erat risus, consectetur et dolor id, iaculis vehicula mauris. Praesent quis hendrerit ante. Phasellus posuere eu risus id sodales</p>
  </div>
</section>

<section class="recent-news">
  <div class="container">
    <div class="page-header">
      <h1>NEWS</h1>
    </div>
    <div class="row">

      <div class="col-sm-4">
        <h2>Judul</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, libero sit amet rutrum lobortis, ante lectus gravida arcu, a porttitor felis eros vitae neque. Nunc pharetra at ante eget consectetur. Vestibulum porttitor tortor sit amet lectus porta, vel mattis urna bibendum.</p>

        <a href="#">See More</a>
      </div>

      <div class="col-sm-4">
        <h2>Judul</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, libero sit amet rutrum lobortis, ante lectus gravida arcu, a porttitor felis eros vitae neque. Nunc pharetra at ante eget consectetur. Vestibulum porttitor tortor sit amet lectus porta, vel mattis urna bibendum.</p>

        <a href="#">See More</a>
      </div>

      <div class="col-sm-4">
        <h2>Judul</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, libero sit amet rutrum lobortis, ante lectus gravida arcu, a porttitor felis eros vitae neque. Nunc pharetra at ante eget consectetur. Vestibulum porttitor tortor sit amet lectus porta, vel mattis urna bibendum.</p>

        <a href="#">See More</a>
      </div>

    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <div class="page-header">
      <h1>ABOUT</h1>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, libero sit amet rutrum lobortis, ante lectus gravida arcu, a porttitor felis eros vitae neque. Nunc pharetra at ante eget consectetur. Vestibulum porttitor tortor sit amet lectus porta, vel mattis urna bibendum. Donec at odio ipsum. Aliquam in finibus augue, a lobortis mi. Suspendisse gravida risus non mauris sollicitudin, quis cursus dui sodales. Vivamus ultrices viverra nibh non imperdiet. Cras varius, lorem id vehicula aliquam, mi turpis pulvinar libero, eu congue nibh purus vel ipsum.</p>

    <p>Nam mollis laoreet tortor. Vivamus sit amet enim dapibus, congue magna nec, sagittis felis. Vivamus blandit massa turpis, in viverra dui imperdiet quis. Fusce aliquam libero vitae interdum aliquam. Suspendisse enim enim, ullamcorper id sagittis sit amet, eleifend et orci. Proin maximus ac eros a dapibus. Sed ipsum orci, facilisis et orci sit amet, rhoncus pulvinar purus. Curabitur feugiat dictum pellentesque. Nullam faucibus porttitor ultrices</p>


    <h3>PEOPLE BEHIND IT</h3>
    <p>SPARTA INCORPORATE</p>
    <p>HMIF</p>
  </div>
</section>


<% include layout/footer %>