<% include layout/header %>

    <div class="jumbotron">
      <div class="container">
        <img class="img-responsive center-block" src="images/sparta-hmif-2014.png" alt="SPARTA HMIF 2014">
        <h1 class="sr-only">SPARTA HMIF 2014</h1>
        
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <p class="main-quote">"A dream you dream alone is only a dream. A dream you dream together is reality." - John Lennon</p>    
          </div>
        </div>
        
        <p><a class="btn btn-primary btn-lg btn-sign-up" href="register" role="button">READY!</a></p>
      </div>
    </div>


<% include layout/footer %>